/* ABOUT PAGE */
.about-main {
  margin-top: 180px;
  padding: 4rem 40px 6rem 40px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
.about-header {
  text-align: center;
  margin-bottom: 4rem;
}
.about-header h1 {
  font-size: 2.8rem;
  letter-spacing: 0.25rem;
}
.about-text-block p {
  font-weight: 400;
  margin-bottom: 2rem;
  line-height: 1.8;
  text-shadow: 0 0 6px rgba(212, 175, 55, 0.6);
  color: #cbbf92;
}
