/* CONTACT PAGE */
.contact-main {
  margin-top: 180px;
  padding: 6rem 40px;
  text-align: center;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
.contact-header h1 {
  font-size: 2.8rem;
  letter-spacing: 0.25rem;
  margin-bottom: 3rem;
}
.contact-content p {
  font-weight: 400;
  margin-bottom: 2rem;
  font-size: 1.1rem;
  text-shadow: 0 0 6px rgba(212, 175, 55, 0.6);
  color: #cbbf92;
}
.contact-email {
  display: inline-block;
  padding: 1rem 3rem;
  border: 2px solid #d4af37;
  color: #d4af37;
  background: transparent;
  font-size: 0.85rem;
  letter-spacing: 0.25rem;
  transition-property: all;
  transition-duration: 2s;
  transition-timing-function: ease-out;
  transition-delay: 0s;
}
.contact-email:hover {
  transform: scale3d(1.03, 1.03, 1.03);
  background: black;
  filter: drop-shadow(0 0 6px rgba(212, 175, 55, 0.6));
  transition: transform 0.2s ease-in;
}
