/* Header */

.logo {
  display: block;
  margin: auto;
  width: 150px;
}

/* Add a container for the posters */

.posters-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.back-arrow {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  color: plum;
}

.poster-gif {
  display: block;
  margin: auto;
  width: 500px;
}

/* Body */
body {
  margin: 1rem;
  font-family: Arial, sans-serif;
}

/* Text Elements */
h1 {
  color: green;
  text-align: center;
}
h2 {
  color: plum;
  text-align: center;
}
p {
  color: plum;
  text-align: center;
}

/* unvisited link */
a:link {
  color: plum;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: plum;
}

/* mouse over link */
a:hover {
  color: hotpink;
}
