body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

/* Text styles */

h1,
h2,
p,
a,
li,
button {
  font-family: warbler-deck, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: black;
  text-decoration: none;
  text-align: center;
}

/* Header */

.site-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  border-bottom: 1px solid black;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2vw;
  box-sizing: border-box;
}

.site-nav ul {
  list-style: none;
  display: flex;
  gap: 2vw;
  margin: 0;
  padding: 0;
}

.site-nav :first-child {
  margin-left: 18%;
}

.site-nav :last-child {
  margin-right: 20%;
}

.site-nav a:hover {
  background-color: gray;
  color: white;
  border-radius: 1rem;
}

.site-nav a {
  transition: background-color 0.3s, color 0.3s;
  display: inline-block;
  color: black;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
}

.site-nav .logo,
.site-nav .shopping-cart {
  height: 3rem;
  max-height: 5vh;
}

@media screen and (max-width: 700px) {
  .site-nav {
    flex-direction: column;
    padding: 1rem;
  }

  .site-nav ul {
    flex-direction: column;
    gap: 1rem;
  }

  .site-nav a {
    font-size: 1.2rem;
  }
}

/* Products grid (products.html) (ripped from example but tweaked) */

.poster-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 1vw;
  column-gap: 2rem;
}

@media screen and (max-width: 700px) {
  .poster-grid {
    grid-template-columns: repeat(1, 1fr);
    column-gap: 2rem;
  }
}

@media screen and (min-width: 1200px) {
  .poster-grid {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
  }
}

@media screen and (min-width: 1600px) {
  .poster-grid {
    grid-template-columns: repeat(5, 1fr);
    column-gap: 2rem;
  }
}

.poster {
  width: 100%;
  display: block;
}

.poster-container {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  margin-left: 1rem;
}

.poster-container a {
  grid-area: 1 / 1;
}

/* Footer */

main {
  margin-top: 6rem;
}

footer {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
}

/* Product page */
.add-to-cart-btn {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  font-size: 2rem;
  color: white;
  background-color: black;
  border: none;
  cursor: pointer;
  border-radius: 1rem;
  text-align: end;
}

.add-to-cart-btn:hover {
  background-color: darkgray;
}

.product-back {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color: white;
  background-color: black;
  border: none;
  cursor: pointer;
  border-radius: 1rem;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 1vw;
}

@media screen and (max-width: 900px) {
  .product-grid {
    grid-template-columns: 1fr;
  }
}

.poster-jpg {
  width: 50%;
}

.product-container {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  margin-top: 1rem;
}

.product-container a {
  grid-area: 1 / 1;
}

.clear-cart {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color: white;
  background-color: black;
  border: none;
  cursor: pointer;
  border-radius: 1rem;
}

.product-grid p {
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 2rem;
  text-align: left;
}
